variables:
  Environment: 'Dev' 
  AdoEnvironment: 'dev-data'

  # GHUB lz variables (the factory varialbe name is pointless here, its in services folder)
  SubscriptionIdGHUB: "3be2ce56-4a5f-4034-88d7-2953d1819ed3"
  ResourceGroupNameGHUB: "lz-ghub-${{ lower(variables.Environment) }}-uks-rg-01"

  # Arm template parameter files
  AzureKeyVaultArmTemplateParametersData: "ArmTemplates/Keyvault/Parameters/${{ upper(variables.Environment) }}/AzureKeyVault.Data.parameters.json"
  AzureSqlServerParametersData: "ArmTemplates/AzureSQL/Parameters/${{ upper(variables.Environment) }}/AzureSQL.Data.parameters.json"
  AzureDataFactoryParametersData: "ArmTemplates/DataFactory/Parameters/${{ upper(variables.Environment) }}/AzureDataFactory.parameters.json"
  AzureLogAnalyticsParameters: "ArmTemplates/LogAnalytics/Parameters/${{ upper(variables.Environment) }}/LogAnalytics.parameters.json"

  AADSecurityGroup: "SQL-DataWriters-${{ upper(variables.Environment) }}"

  # dafac source database vars
  SQLBuildSourceFolder_dbfacStuffSource: "SQL DBs/dafacstuffuks"
  DatabaseName_facstuff_source: "dba-fac-stf-source"

  # dafac target database vars
  SQLBuildSourceFolder_dbfacStuffTarget: "SQL DBs/dafacstuffuks-target"
  DatabaseName_facstuff_target: "dba-facstuff-target"

