parameters:
  - name: FeatureFlag_SQL_StopIfDataLossCanOccur
    type: boolean
    default: false
  - name: FeatureFlag_ADF_DeployPipelines
    type: boolean
    default: true
  - name: FeatureFlag_SQL_Deploy
    type: boolean
    default: false


name: Pipeline-$(Build.DefinitionName)-$(Date:yyyyMMdd)$(Rev:.r)

pr: none
trigger: 
  branches:
    include:
    - dev_test_adf

variables:
- template: ..\Variables\Variables-Global.yml

pool: 'Azure Pipelines'


stages:

- template: ..\Stages\Stage-Environment.yml
  parameters:
          ServiceConnection: ${{ variables.serviceConnection }}
          Environment: ${{ variables.TestEnvironment }}
          Location: ${{ variables.Location }}
          FeatureFlag_SQL_StopIfDataLossCanOccur: ${{ parameters.FeatureFlag_SQL_StopIfDataLossCanOccur }}
          FeatureFlag_ADF_DeployPipelines: ${{ parameters.FeatureFlag_ADF_DeployPipelines }}
          FeatureFlag_SQL_Deploy: ${{ parameters.FeatureFlag_SQL_Deploy }}



